p{
    text-decoration:none;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #606060;
    line-height: 18px;
}
a{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
/* .header{
    background: #F0F3F5;
    width: 100%;
    height: 80px;
    display: flex;
    padding: 13px 135px 13px 135px;
    gap: 397px;
    align-items: center;
} */
.header{
    background: #F0F3F5;
    min-height: 79.9999px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    
    
}
.header-container{
    width: 1168px;
    max-height: 100%;
    /* display: grid;  
    grid-template-columns: 554px 1fr;
    column-gap: 27.6%; */
    display: flex;
    justify-content: center;
    column-gap: 397px;
    padding-top: 13px;
    padding-bottom: 13px;  
    background: #F0F3F5;  
}
@media(max-width: 1200px){
    .header-container{
        column-gap: 43%;
    }
    .header{
        min-height: 100px;
    }
}

.header-items{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 640px;
    column-gap: 42px;
     */
     display: grid;
     grid-template-columns: 343px 50%;
     grid-template-rows: 1fr 1fr;
     column-gap: 28px;
}
@media(max-width: 1200px){
    .header-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}


.header-truck{
    /* display: grid;
    grid-template-columns: 12.5px 150px;
    column-gap: 8.5px; */
    display: flex;
    gap: 8.5px;
    height: 18px;
    width: 322px;
}
.header-truck-icon{
    width: 12.5px;
    height: 10.94px;
}
.header-truck-text{
    width: 290px;
    height: 16px;
} 


.header-call{
    /* display: grid;
    grid-template-columns: 12.5px 191px;
    column-gap: 7.5px; */
    display: flex;
    gap: 7.5px;
    width: 211px;
    height: 18px;
}  
.header-call-icon{
    
    width: 12.5px;
    height: 12.5px;
}
.header-call-text{
    
    width: 191px;
    height: 18px;
}


.header-shop{
    /* display: grid;
    grid-template-columns: 11.25px 322px;
    column-gap: 9.75px; */
    display: flex;
    gap: 9.75px;
    
}  
.header-shop-icon{
    width: 12.5px;
    height: 12.5px;
}
.header-shop-text{
    width: 322px;
    max-height: 54px;
}


.header-icons{
    min-width: 13.2%;
    height: 45px;
    display: flex;
    justify-content: end;
    /* align-items: end; */
    column-gap: 19px;
    position: relative;
    top: 5px;
    left: 4px;
}
.header-person{
    position: relative;
    left: 1px;
    width: 45px;
    height: 45px;

}
.header-line{  
    height: 37px;
}
.header-heart{
    height: 45px;
    width: 45px;
}
.header-cart{
    width: 47px;
    height: 47px;
}
@media(max-width: 1022px){
    .header-container{
        display: flex;
        justify-content: space-between;
    }
    .header{
        min-height: 98px;
        display: flex;
    }
    .header-items{
        width: min-content;
    }
}
@media(max-width: 967px){
    .header-container{
        display: flex;
        justify-content: center;
        column-gap: 57%;
        width: 768px;
    }
    .header{
        min-height: 98px;
    }
    .header-items{
        max-width: 450px;
    }
}
@media(max-width: 915px){
    .header-container{
        display: flex;
        justify-content: center;
        column-gap: 50%;
        width: 768px;
    }
}
@media(max-width: 860px){
    .header-container{
        display: flex;
        justify-content: center;
        column-gap: 30%;
        width: 768px;
    }
}
@media(max-width: 790px){
    .header-container{
        display: flex;
        justify-content: center;
        column-gap: 20%;
        width: 768px;
    }
   
}
@media(max-width: 768px){
    .header-container{
        display: flex;
        justify-content: right;
        position: relative;
        right: 13px;
    }
    .header-items{
        display: none
    }
    .header-line{
        display: none;
    }
    .header-person{
        position: relative;        
    }
    .header-icons{
        width: 100%;
        display: flex;
        justify-content: left;
        column-gap: 7%;
    }
    .ha1{
        min-width: 33%;
    }
    .ha3{
        min-width: 33%;
    }
    .ha4{
        min-width: 33%;
    }
    .header-person{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        width: 100%;
    }
    .header-heart{
        position: relative;
        left: 95%;
    }
    
}
.header-red-circle{
    position: relative;
    top: 28px;
    left: -38px;
}
.ha5 p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    left: -31px;
    top: 6px;
}
@media(max-width: 580px){
    .header-heart{
        position: relative;
        left: 85%;
    }
}
@media(max-width: 430px){
    .header-heart{
        position: relative;
        left: 75%;
    }
}
@media(max-width: 330px){
    .header-heart{
        position: relative;
        left: 65%;
    }
}