
.section3{
    width: 100%;
    min-height: 666px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 274px;
    
}
.section3-container{
    width: 1168px;
    height: 666px;    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 78px 1fr;
    row-gap: 20px; */
}   


.section3-texts-container{
    width: 1168px;
    height: 106px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 20px;
}
.section3-title-p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #333333;
    height: 60px;
    margin: 0px;
    padding: 0px;
}

.section3-text-p{
    width: 670px;
    height: 78px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #333333;
}
.section3-cards-container{
    width: 1440px;
    height: 412px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}


.section3-cards{
    width: 1170px;
    height: 413px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px; */
}



.section3-map{
    width: 370px;
    height: 191px;
}

.section3-card{
    background-color: #f8f8f8;
    width: 370px;
    height: 191px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    cursor: pointer;
}
.section3-card:hover{
    background-color: #f9f9f9;
}
.card-text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #303030;
    position: relative;
    left: 20px;
    top: 20px;
}
.card-pic{
    z-index: 10;
}
.button-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    
}
.section3-button{
    width: 115px;
    height: 26px;
    display: flex;
    justify-content: center;
    gap: 12px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: relative;
    top: 20px;
    
}
.section3-button-text{
    width: 91px;
    height: 26px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    text-decoration-line: underline;
    color: #697178;
}
.section3-button-arrow{
    width: 12px;
    height: 5px;
    position: relative;
    top: 13px;
}









.show-less-container{
    width: 115px;
    height: 26px;
    display: flex;
    justify-content: center;
    gap: 12px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: relative;
    top: 461px;
    left: 45.1%;
    
}

.section3-button-text{
    width: 91px;
    height: 26px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    text-decoration-line: underline;
    color: #697178;
}
.section3-show-less-arrow{
    width: 12px;
    height: 5px;
    position: relative;
    top: 48%;
}
.section3-show-less-arrow{
    transform: scaleY(-1)
}
.show-less-container{
    display: none;
}
/* background: linear-gradient(255.34deg, #F9F9F9 0%, #FFFFFF 32.74%, #E0E4E8 108.37%); */
@media(max-width: 1200px){
    .section3-cards-container{
        display: flex;
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
    }
    .section3-cards{
        width: 100%;
        flex-direction: row;
        width: 1000px;
        flex-wrap: wrap;
    }
    .section3-card{
        width: 340px;
    }
    .section3-map{
        width: 340px;
    }
    .section3-texts-container{
        justify-content: center;
    }
    .button-container{
        position: relative;
        top: 220px;
    }

}
@media(max-width: 768px){
    .button-container{
        display: none;
    }
    .section3-cards-container{
        display: flex;
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
    }
    .section3-cards{
        width: 100%;
        flex-direction: row;
        width: 600px;
        flex-wrap: wrap;
    }

}