a{
    text-decoration: none;
    color: #F9F9F9;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
p{
    margin: 0px;
    padding: 0px;
}
.nav{
    background: #303030;
    width: 100%;
    min-height: 99.9999px;
    max-height: 100px;   
    display: flex;
    justify-content: center; 
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 81.2%;
    min-height: 60px;
    column-gap: 35px;    
    /* left: -15px; */
}
.nav-logo{
    width: 123px;
    height: 60px;
}
.nav-logo img{
    width: 123px;
    height: 60px;
}

.nav-sub-container{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 9%;
    /* display: grid;
    grid-template-columns: 809px 118.63px;
    column-gap: 8.201%; */

}

.nav-items{
    display: flex;
    /* gap: 4%; */
    justify-content: space-between;
    align-items: center;
    min-width: 810px;
    /* position: relative;
    left: 7px; */
}
.a1{
    min-width: 99px;

}
.a2{
    min-width: 129px;
    position: relative;
    left: -2px;

}
.a3{
    min-width: 117px;
    position: relative;
    left: 0px;

}
.a4{
    min-width: 131px;
    position: relative;
    left: 0px;

}
.a5{
    min-width: 110px;
    position: relative;
    left: 1px;

}
.a6{
    min-width: 39px;
    position: relative;
    left: 0px;

}
.nav-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50.38px;
    width: 118.63px;
    height: 100%;
    
    
    
}
.nav-search{
    width: 26.25px;
    height: 26.25px;
}
.nav-menu{
    width: 40px;
    height: 24px;

}